<?xml version="1.0" encoding="utf-8" ?>
<web-app>
    <display-name>ActividadesSanValero</display-name>
    <context-param>
        <description>Ruta para las fotos</description>
        <param-name>image-path</param-name>
        <param-value>C:\xampp\tomcat\webapps\Fotos</param-value>
    </context-param>
</web-app>